body{
    background-color: white;
    margin-left: 25px;
}
h1,h3 {
    font-family: 'Times New Roman', Times, serif, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
    margin: 2%;
}
p {
    font-family: 'Times New Roman', Times, serif, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
    margin: 2%;
}
.conteudo {
    margin: 1%;
    background-color: bisque;
    border-radius: 1%;
    width: 70%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}